@use '../../_css/queries.scss' as *;

.header {
  padding: var(--base) 0;
  background: transparent !important; 
  z-index: 100; 
  width: 100vw;
  position: fixed;
  color: black !important; 
}

.wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(var(--base) / 2) var(--base);
}

.logo {
  width: 150px;
}

:global([data-theme="light"]) {
  .logo {
    filter: invert(1);
  }
}
